In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.2.0-cp311-cp311-manylinux_2_17_x86_64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 409.8/409.8 kB 15.5 MB/s eta 0:00:00
Downloading mysql_connector_python-8.2.0-cp311-cp311-manylinux_2_17_x86_64.whl (31.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 31.6/31.6 MB 28.2 MB/s eta 0:00:00:00:0100:01
Installing collected packages: protobuf, mysql-connector-python
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.24.3
    Uninstalling protobuf-4.24.3:
      Successfully uninstalled protobuf-4.24.3
Successfully installed mysql-connector-python-8.2.0 protobuf-4.21.12

In [8]:
!pip install sqlalchemy pandas ipython-sql

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.22)
Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.1)
Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (3.0.0)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.16.1)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 kB 4.9 MB/s eta 0:00:00
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: backcall in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.11.2)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.8)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.0)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlparse-0.4.4

In [9]:
%load_ext sql

In [45]:
mypass = "mysql+mysqlconnector://myuser1:Password#1234@10.0.1.47/hkdb1"
%sql  $mypass

In [46]:
%%sql
show databases;

   mysql+mysqlconnector://admin:***@10.0.1.47/hkdb1
   mysql+mysqlconnector://admin:***@10.0.1.47/mysql
 * mysql+mysqlconnector://myuser1:***@10.0.1.47/hkdb1
6 rows affected.

[('airportdb',),
 ('heatwaveml_bench',),
 ('hkdb1',),
 ('information_schema',),
 ('performance_schema',),
 ('sys',)]

In [48]:
%%sql
use airportdb;
show tables;
select * from airline;

   mysql+mysqlconnector://admin:***@10.0.1.47/hkdb1
   mysql+mysqlconnector://admin:***@10.0.1.47/mysql
 * mysql+mysqlconnector://myuser1:***@10.0.1.47/hkdb1
0 rows affected.
15 rows affected.
113 rows affected.

[(1, 'AF', 'Afghanistan Airlines', 850),
 (2, 'AL', 'Albania Airlines', 10274),
 (3, 'AM', 'American Samoa Airli', 9210),
 (4, 'AN', 'Angola Airlines', 190),
 (5, 'AR', 'Argentina Airlines', 285),
 (6, 'AU', 'Australia Airlines', 73),
 (7, 'AZ', 'Azerbaijan Airlines', 1216),
 (8, 'BA', 'Bahamas Airlines', 405),
 (9, 'BE', 'Belarus Airlines', 1534),
 (10, 'BH', 'Bhutan Airlines', 9320),
 (11, 'BO', 'Bolivia Airlines', 466),
 (12, 'BR', 'Brazil Airlines', 93),
 (13, 'BU', 'Bulgaria Airlines', 1674),
 (14, 'CA', 'Caicos Is Airlines', 2600),
 (15, 'CE', 'Central African Rep ', 813),
 (16, 'CH', 'Chad Airlines', 27),
 (17, 'CO', 'Colombia Airlines', 118),
 (18, 'CR', 'Croatia Airlines', 2373),
 (19, 'CU', 'Cuba Airlines', 28),
 (20, 'CY', 'Cyprus Airlines', 168),
 (21, 'CZ', 'Czech Airlines', 5175),
 (22, 'DA', 'Dakhla And Laayoune ', 2884),
 (23, 'DE', 'Denmark Airlines', 7),
 (24, 'DJ', 'Djibouti Airlines', 343),
 (25, 'DO', 'Dominica Airlines', 1874),
 (26, 'EC', 'Ecuador Airlines', 2130),
 (27, 'EG', 'Egypt Airlines', 46),
 (28, 'EL', 'El Salvador Airlines', 3499),
 (29, 'EQ', 'Equatorial Guinea Ai', 965),
 (30, 'ER', 'Eritrea Airlines', 613),
 (31, 'ES', 'Estonia Airlines', 5940),
 (32, 'ET', 'Ethiopia Airlines', 4),
 (33, 'FA', 'Falkland Is Airlines', 8303),
 (34, 'FI', 'Fiji Is Airlines', 6518),
 (35, 'FR', 'France Airlines', 146),
 (36, 'GA', 'Gabon Airlines', 1257),
 (37, 'GE', 'Georgia Airlines', 6330),
 (38, 'GH', 'Ghana Airlines', 6349),
 (39, 'GI', 'Gibraltar Airlines', 4345),
 (40, 'GR', 'Greece Airlines', 111),
 (41, 'GU', 'Guadeloupe Airlines', 794),
 (42, 'HA', 'Haiti Airlines', 1894),
 (43, 'HO', 'Honduras Airlines', 2047),
 (44, 'HU', 'Hungary Airlines', 815),
 (45, 'IC', 'Iceland Airlines', 174),
 (46, 'IN', 'India Airlines', 103),
 (47, 'IR', 'Iran Airlines', 15),
 (48, 'IS', 'Isla De Pascua Airli', 7642),
 (49, 'IT', 'Italy Airlines', 197),
 (50, 'IV', 'Ivory Coast Airlines', 29),
 (51, 'JA', 'Jamaica Airlines', 1418),
 (52, 'JE', 'Jerusalem Airlines', 5686),
 (53, 'JO', 'Johnston Atoll Airli', 5737),
 (54, 'KA', 'Kazakhstan Airlines', 169),
 (55, 'KE', 'Kenya Airlines', 342),
 (56, 'KI', 'Kiribati Airlines', 1382),
 (57, 'KO', 'Korea Airlines', 5),
 (58, 'KU', 'Kuwait Airlines', 6418),
 (59, 'KY', 'Kyrgyzstan Airlines', 7396),
 (60, 'LA', 'Laos Airlines', 661),
 (61, 'LE', 'Lebanon Airlines', 1051),
 (62, 'LI', 'Liberia Airlines', 1623),
 (63, 'LU', 'Luxembourg Airlines', 7217),
 (64, 'MA', 'Macau Airlines', 7243),
 (65, 'ME', 'Melilla Airlines', 7809),
 (66, 'MI', 'Micronesia Airlines', 730),
 (67, 'MO', 'Moldova Airlines', 2327),
 (68, 'MY', 'Myanmar Airlines', 771),
 (69, 'NA', 'Namibia Airlines', 488),
 (70, 'NE', 'Nepal Airlines', 775),
 (71, 'NI', 'Nicaragua Airlines', 1307),
 (72, 'NO', 'Northern Mariana Is ', 10432),
 (73, 'OM', 'Oman Airlines', 6116),
 (74, 'PA', 'Pakistan Airlines', 261),
 (75, 'PE', 'Peru Airlines', 218),
 (76, 'PH', 'Philippines Airlines', 744),
 (77, 'PO', 'Poland Airlines', 732),
 (78, 'PU', 'Puerto Rico Airlines', 452),
 (79, 'QA', 'Qatar Airlines', 3170),
 (80, 'RE', 'Reunion Airlines', 4366),
 (81, 'RO', 'Romania Airlines', 480),
 (82, 'RU', 'Russia Airlines', 17),
 (83, 'RW', 'Rwanda Airlines', 1700),
 (84, 'SA', 'San Andres Airlines', 4755),
 (85, 'SE', 'Senegal Airlines', 804),
 (86, 'SI', 'Sierra Leone Airline', 1314),
 (87, 'SL', 'Slovakia Airlines', 6338),
 (88, 'SO', 'Solomon Is Airlines', 4384),
 (89, 'SP', 'Spain Airlines', 1),
 (90, 'SR', 'Sri Lanka Airlines', 363),
 (91, 'ST', 'St Kitts Airlines', 8646),
 (92, 'SU', 'Sudan Airlines', 634),
 (93, 'SW', 'Swaziland Airlines', 7649),
 (94, 'SY', 'Syria Airlines', 220),
 (95, 'TA', 'Taiwan Airlines', 2273),
 (96, 'TH', 'Thailand Airlines', 873),
 (97, 'TO', 'Togo Airlines', 8683),
 (98, 'TR', 'Trinidad Airlines', 2804),
 (99, 'TU', 'Tunisia Airlines', 2003),
 (100, 'UG', 'Uganda Airlines', 580),
 (101, 'UK', 'Ukraine Airlines', 1416),
 (102, 'UN', 'United Arab Emirates', 45),
 (103, 'UR', 'Uruguay Airlines', 576),
 (104, 'UZ', 'Uzbekistan Airlines', 1652),
 (105, 'VA', 'Vanuatu Airlines', 987),
 (106, 'VE', 'Venezuela Airlines', 202),
 (107, 'VI', 'Vietnam Airlines', 1668),
 (108, 'WA', 'Wake I Airlines', 12951),
 (109, 'WE', 'Western Samoa Airlin', 3729),
 (110, 'YE', 'Yemen Airlines', 25),
 (111, 'YU', 'Yugoslavia Airlines', 1062),
 (112, 'ZA', 'Zambia Airlines', 2319),
 (113, 'ZI', 'Zimbabwe Airlines', 1640)]