In [1]:
# Connecting to MySQL using sqlalchemy and mysql-connector-python
# Please CHANGE your ID before execution
#
myid='1'

from sqlalchemy import create_engine
import pandas as pd

# Connect to the database
engine = create_engine("mysql+mysqlconnector://myuser{myid}:Password#1234@10.0.1.29/airportdb".replace("{myid}", myid))

# Test the connection
connection = engine.connect()

In [2]:
df = pd.read_sql_query("SELECT * FROM airportdb.airline",connection)

In [3]:
df.head(10)
df.count()
df.describe()

       airline_id  base_airport
count   113.00000    113.000000
mean     57.00000   2496.504425
std      32.76431   2989.847494
min       1.00000      1.000000
25%      29.00000    342.000000
50%      57.00000   1216.000000
75%      85.00000   3729.000000
max     113.00000  12951.000000