In [ ]:
# Please change the myid as your UserID assigned
#
myid='1'
%load_ext sql
mypass = "mysql+mysqlconnector://myuser{myid}:Password#1234@10.0.1.47/airportdb".replace("{myid}", myid)
%sql  $mypass

In [ ]:
myoutput = %sql select 1;
display(myoutput)
myoutput = %sql show databases;
display(myoutput)

In [ ]:
%%sql
show create table weatherdata;

In [ ]:
%%time
# %sql ALTER TABLE weatherdata secondary_load;
%sql select @mytime := sysdate();  
%time myoutput = %sql select /*+ SET_VAR(use_secondary_engine=ON) */ log_date, count(*) from weatherdata where log_date > DATE '2005-01-01' group by log_date order by log_date;
display(myoutput.DataFrame().tail(10))
myoutput = %sql select timediff(sysdate(), @mytime);
display(myoutput)
%sql select @mytime := sysdate();
%time myoutput = %sql select /*+ SET_VAR(use_secondary_engine=OFF) */ log_date, count(*) from weatherdata where log_date > DATE '2005-01-01' group by log_date order by log_date;
display(myoutput.DataFrame().tail(10))
myoutput = %sql select timediff(sysdate(), @mytime);
display(myoutput)

In [ ]:
%%sql
explain select count(*) from weatherdata where log_date > DATE '2005-01-01'group by log_date order by log_date;

In [9]:

%%sql
set autocommit=true;
EXPLAIN SELECT
airline.airlinename,
AVG(datediff(departure,birthdate)/365.25) as avg_age,
count(*) as nb_people
FROM
    booking, flight, airline, passengerdetails
WHERE
    booking.flight_id=flight.flight_id AND
    airline.airline_id=flight.airline_id AND
    booking.passenger_id=passengerdetails.passenger_id AND
    country IN ("SWITZERLAND", "FRANCE", "ITALY")
GROUP BY
    airline.airlinename
ORDER BY
    airline.airlinename, avg_age
LIMIT 10;

 * mysql+mysqlconnector://myuser1:***@10.0.1.47/airportdb
0 rows affected.
1 rows affected.

[(1, 'NONE', None, None, None, None, None, None, None, None, None, 'Using secondary engine RAPID. Use EXPLAIN FORMAT=TREE to show the plan.')]

In [10]:

%%sql
set autocommit=false;
EXPLAIN SELECT
airline.airlinename,
AVG(datediff(departure,birthdate)/365.25) as avg_age,
count(*) as nb_people
FROM
    booking, flight, airline, passengerdetails
WHERE
    booking.flight_id=flight.flight_id AND
    airline.airline_id=flight.airline_id AND
    booking.passenger_id=passengerdetails.passenger_id AND
    country IN ("SWITZERLAND", "FRANCE", "ITALY")
GROUP BY
    airline.airlinename
ORDER BY
    airline.airlinename, avg_age
LIMIT 10;

 * mysql+mysqlconnector://myuser1:***@10.0.1.47/airportdb
0 rows affected.
4 rows affected.

[(1, 'SIMPLE', 'passengerdetails', None, 'ALL', 'PRIMARY', None, None, None, 35858, 30.0, 'Using where; Using temporary; Using filesort'),
 (1, 'SIMPLE', 'booking', None, 'ref', 'seatplan_unq,flight_idx,passenger_idx', 'passenger_idx', '4', 'airportdb.passengerdetails.passenger_id', 676, 100.0, None),
 (1, 'SIMPLE', 'flight', None, 'eq_ref', 'PRIMARY,airline_idx', 'PRIMARY', '4', 'airportdb.booking.flight_id', 1, 100.0, None),
 (1, 'SIMPLE', 'airline', None, 'eq_ref', 'PRIMARY', 'PRIMARY', '2', 'airportdb.flight.airline_id', 1, 100.0, None)]

   mysql+mysqlconnector://admin:***@10.0.1.47/airportdb
 * mysql+mysqlconnector://myuser1:***@10.0.1.47/airportdb
   mysql+mysqlconnector://myuser2:***@10.0.1.47/airportdb
1 rows affected.

[('autocommit', 'OFF')]

In [13]:
%%time
%%sql
set autocommit=true;
SELECT /*+ SET_VAR(use_secondary_engine=FORCED) */
airline.airlinename,
AVG(datediff(departure,birthdate)/365.25) as avg_age,
count(*) as nb_people
FROM
    booking, flight, airline, passengerdetails
WHERE
    booking.flight_id=flight.flight_id AND
    airline.airline_id=flight.airline_id AND
    booking.passenger_id=passengerdetails.passenger_id AND
    country IN ("SWITZERLAND", "FRANCE", "ITALY")
GROUP BY
    airline.airlinename
ORDER BY
    airline.airlinename, avg_age
LIMIT 10;

 * mysql+mysqlconnector://myuser1:***@10.0.1.47/airportdb
0 rows affected.
10 rows affected.
CPU times: user 3.49 ms, sys: 616 Âµs, total: 4.11 ms
Wall time: 160 ms

In [12]:
%%time
%%sql
set autocommit=true;
SELECT /*+ SET_VAR(use_secondary_engine=OFF) */
airline.airlinename,
AVG(datediff(departure,birthdate)/365.25) as avg_age,
count(*) as nb_people
FROM
    booking, flight, airline, passengerdetails
WHERE
    booking.flight_id=flight.flight_id AND
    airline.airline_id=flight.airline_id AND
    booking.passenger_id=passengerdetails.passenger_id AND
    country IN ("SWITZERLAND", "FRANCE", "ITALY")
GROUP BY
    airline.airlinename
ORDER BY
    airline.airlinename, avg_age
LIMIT 10;

 * mysql+mysqlconnector://myuser1:***@10.0.1.47/airportdb
0 rows affected.
10 rows affected.
CPU times: user 2.67 ms, sys: 3.9 ms, total: 6.57 ms
Wall time: 10.6 s